<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/mainblog.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/aboutme.css">
  <title>About Us Page</title>
</head>

<body>
  <a href="/">
    <button>BACK</button>
  </a>
  <div class="container">
    <div class="siddarth">
      <img src="imgs/sid.jpeg" alt="A Polar bear eating ice-cream" width="50%">
      <h4>SIDDARTH</h4>
      <p>He is the back-end developer of the group and is the team leader(big gun)</p>
    </div>
    <div class="lavanya">
      <img src="imgs/lav.jpeg" alt="A Monkey holding money bags" width="50%">
      <h4>LAVANYA</h4>
      <p>She is one of the front end developers and the hardest working member</p>
    </div>
    <div class="saketh">
      <img src="imgs/sak.jpeg" alt="A Monkey working on laptop" width="50%">
      <h4>SAKETH</h4>
      <p>He is the Design guy and the idea guy of the group</p>
    </div>
    <div class="dhanashree">
      <img src="imgs/dhan.jpeg" alt="A Bear listening to music" width="50%">
      <h4>DHANASHREE</h4>
      <p>She is one of the front-end developers and is also a designer</p>
    </div>
  </div>
</body>

</html>