<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Login Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/mainblog.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/login.css" />
</head>

<body>
  <div class="big">
    <img class="meditation" src="imgs/login.jpeg" alt="Meditation image" width="100%" />
    <div class="login">
      <div class="small">
        <button class="btn">
          <div class="intext">
            <img src="imgs/google_logo.jpeg" width="30px" height="30px" />
            <a href="https://localhost:3301/auth/google">Log In with
              Google</a>

          </div>
        </button>
        <button class="btn">
          <div class="intext">
            <img src="imgs/facebook_logo.jpeg" width="35px" height="35px" />Log In with
            Facebook
          </div>
        </button>
      </div>
    </div>
  </div>
</body>

</html>