<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700&display=swap" rel="stylesheet">
  <style>
    p {
      font-family: 'Roboto', sans-serif;
      width: 600px;
      border: 1px black solid;
      padding: 50px;
    }

    .main {
      display: flex;
      justify-content: center;
      font-size: center;
    }

    .hello {
      display: flex;
      justify-content: center;
    }

    button {
      background-color: coral;
      padding: 10px 30px;
      border: none;
      border-radius: 60px;
    }

    button:hover {
      opacity: 70%
    }

    button:active {
      opacity: 100%
    }

    span {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
  </style>
  <title>Rules and regulations</title>
</head>

<body>
  <div class="main">
    <p>
      <span>RULES AND REGULATIONS</span>
      <br>
      <br>
      <b>
        1.Be kind and courteous<br>
      </b>
      We're all in this together to create a welcoming environment. Let's treat everyone with respect. Healthy debates
      are
      natural, but kindness is required and let's keep our responses as positive as we can!
      <br>
      <b>
        2.No hate speech or bullying<br>
      </b>
      Make sure everyone feels safe. Bullying of any kind isn't allowed, and degrading comments about things such as
      race,
      religion, culture, sexual orientation, gender or identity will not be tolerated.
      <br>
      <b>
        3.NO screenshots from inside the group<br>
      </b>
      This is so important. Being part of this group requires mutual trust. Authentic, expressive discussions make
      groups
      great, but may also be sensitive and private. What's shared in the group should stay in the group.
      <br>
      <b>
        4.No spam<br>
      </b>
      Give more to this group than you take. Links are welcome as long as they are relevant to the group but please
      don't
      spam.
      <br>
      <b>
        5.No selling or MLM's<br>
      </b>
      Trying to sell to other members or recruiting them for MLM schemes will not be tolerated here.
      <br>
      <b>
        6.Medical advice<br>
      </b>
      This group is NOT intended for medical advice and should be not be used in replacement of
      doctors/counsellors/therapists<br>
      etc. If you have a medical concern you should seek the help of a doctor<br>
    </p>
  </div>
  <div class="hello">
    <a href="http://localhost:3000">
      <button><b>I Accept</b></button>
    </a>
  </div>
</body>

</html>